<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="{{asset('lib/bootstrap-3.3.2-dist/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
	<script src="{{asset('lib/bootstrap-3.3.2-dist/js/bootstrap.min.js')}}" language="JavaScript"></script>
	<link href="{{asset('css/grace.css?78934')}}" rel="stylesheet" type="text/css" />
	<title>Lady Grace Интернет-магазин</title>
</head>
<body>
	<div class="main-wrap">
		<div class="header">
			<div class="row">
				<div class="col-lg-2">
					<div class="logo-wrap">Lady Grace</div>
				</div>
				<div class="col-lg-8"></div>
				<div class="col-lg-2">
					<div class="actions">
						<div class="site-actions">
							<button type="button" id="reg_btn" class="btn btn-default btn-sm">
								Зарегистрироваться
							</button>
							<button type="button" id="entry_btn" class="btn btn-default btn-sm">
								Войти
							</button>
						</div>
						<div class="cart-actions">
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> 
							<a href="#">Корзина</a> 0
						</div>
					</div>
				</div>				
			</div>
		</div>

		<div class="slide-show">
			<img src="{{asset('slide.png')}}" alt="">
		</div>
		
		<div class="top-bar">
			<div class="top-bar-cell">
				<button type="button" class="btn btn-default btn-sm">
					Женское
				</button>
			</div>
			<div class="top-bar-cell">
				<button type="button" class="btn btn-default btn-sm">
					Мужское
				</button>
			</div>
			<div class="top-bar-cell">
				<button type="button" class="btn btn-default btn-sm">
					Детское
				</button>
			</div>
		</div>

		<div class="body-wrap">
			<div class="leftside-bar">
				
			</div>
			<div class="products-wrap">
				<div class="products-line">
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
				</div>
				<div class="products-line">
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
				</div>
				<div class="products-line">
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
				</div>
				<div class="products-line">
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
					<div class="product-cell"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>